.panel-current-negotiation {
    background-color: white;
    padding-left: 12%;
    margin-top: -5%;
    margin: 5%;
}
.col-photo{
	width:40%;
	margin-bottom:5%;
	margin-left: -10%;

}
.col-price{
	width:50%;
	text-align:center;
}