<form #dataTroca="ngForm" class="editForm" novalidate>
  <div class="tab-pane panel-wizard-2step">
    <br/>
    <div class='row'>
        <div class='col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8'>
            <div class="row">
                <div class='col-xs-12'>
                    <div class="form-group">
                        <label for="interesse" class="control-label">Interesse na troca</label>
                        <div class="slidecontainer">
                            <input type="range" min="1" max="5" value="3" [(ngModel)]="datatroca.interesse" #interesse="ngModel" name="interesse" class="slider"  id="myRange">


                        </div>
                        <ul class="range-labels">
                                    <li>1</li>
                                    <li>2</li>
                                    <li>3</li>
                                    <li>4</li>
                                    <li>5</li>
                                </ul>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-success btn-outline-rounded btn-info" [disabled]="!dataTroca.valid" (click)="enviarTroca(dataTroca)"> Finalizar <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button>
            </div>
        </div>
    </div>
  </div>
</form>
