<app-navbar>
</app-navbar>
<form>
  <div class="negociacoes">
    <h1>Negociações em andamento</h1>

    <div *ngFor="let troca of trocas">
      <br>
      <div class="meusJogos">
        <img src="assets/{{ troca.jogo_negociador.photo }}" alt="JogoTenho" height="100%" width="100">
      </div>
      <img src="assets/setaDupla.jpg" alt="IconeTipo" height="70" width="70" style="margin:10% 12%">
      <div class="jogosDele">
        <img src="assets/{{ troca.jogo_interessado.photo }}" alt="JogoQuero" height="100%" width="100">
      </div>
    </div>

    <input class="btn btn-info" type="submit" value="Ver negociações" routerLink = "/negociacoes">

  </div>
</form>


<form action="jogo">

  <div class="favoritos">
    <h1>Jogos mais populares</h1>
    <div *ngFor="let jogo of jogos">
      <br>
      <div class="row">
        <div class="col">
          <img src="assets/{{jogo.photo}}" alt="JogoTenho" height="100%" width="100">
        </div>
        <div class="col">
          <span>{{ jogo.nome }}</span>
          <br>
          <span>{{ jogo.plataforma }}</span>
        </div>
        <div class="col">
          <input class="btn btn-jogo" value="Ver mais" type="submit" routerLink="/jogos/{{jogo.id}}">
        </div>
      </div>
    </div>
    <input class="btn btn-info" type="submit" value="Mais jogos da lista" routerLink="/jogos">
  </div>

</form>
