<app-navbar>
</app-navbar>



<div class="negociacoes">
  <h1>Negociações em andamento</h1>
  <form action="negociacoes">

<div class="meusJogos">
   <!-- <img src="assets/imgUsr1.png" alt="minhaFoto" height="70" width="70"> -->
    <img src="assets/capaJogo1.jpg" alt="JogoTenho" height="100%" width="100"> 
     <img src="assets/capaJogo12.jpg" alt="JogoTenho" height="100%" width="100"> 
   

</div>

 <img src="assets/setaDupla.jpg" alt="IconeTipo" height="70" width="70" style="margin:10% 20%"> 
 
        


<div class="jogosDele">
    <img src="assets/capaJogo2.jpg" alt="JogoQuero" height="100%" width="100">
    <img src="assets/capaJogo22.jpg" alt="JogoTenho" height="100%" width="100"> 
 <!--    <img src="assets/imgUsr2.png" alt="user2" height="70" width="70">-->

</div>
    <input class="btn" type="submit" value="Ver negociações" routerLink = "../negociacoes">
   
  </form>
</div>





<div class="favoritos">
  <h1>Jogos Favoritos</h1>
  <form action="jogo">
    <img src="assets/gow.png" alt="JogoTenho" height="45" width="45"> 
        <img src="assets/setaDupla.jpg" alt="IconeTipo" height="45" width="45"> 
    <img src="favicon.ico" alt="JogoQuero" height="45" width="45">    
    <input class="btn" type="submit" value="Mais informações">
   
  </form>
</div>


