<app-navbar>
</app-navbar>
<form>
  <div class="negociacoes">
    <h1>Negociações em andamento</h1>

    <div class="meusJogos">
      <img src="assets/capaJogo12.jpg" alt="JogoTenho" height="100%" width="100">
    </div>

     <img src="assets/setaDupla.jpg" alt="IconeTipo" height="70" width="70" style="margin:10% 12%">

    <div class="jogosDele">
      <img src="assets/capaJogo22.jpg" alt="JogoQuero" height="100%" width="100">
    </div>
    <input class="btn" type="submit" value="Ver negociações" routerLink = "/negociacoes">

  </div>
</form>


<form action="jogo">

  <div class="favoritos">
    <h1>Jogos mais populares</h1>
    <div *ngFor="let jogo of jogos">
      <br>
      <div class="row">
        <img src="assets/{{jogo.photo}}" alt="JogoTenho" height="45" width="45">
        <span>{{ jogo.nome }}</span>
        <input class="btn " value="Ver mais" type="submit" routerLink="/jogos/{{jogo.id}}">
      </div>
    </div>
    <input class="btn" type="submit" value="Mais informações" routerLink="/jogos">
  </div>

</form>
