<app-navbar>
</app-navbar>
<br>

<div class="container">
  <span class="tabs">
    <input [disabled]="status == 'troca'" class="btn btn-primary" type="button" value="Trocas" (click)="trocaAba('troca')"/>
    <input [disabled]="status == 'venda'"class="btn btn-primary" type="button" value="Vendas" (click)="trocaAba('venda')" />
    <input class="btn btn-primary" type="submit" value="Novo interesse em troca"  routerLink="/trocas/criar/seljogos"/>
        <input class="btn btn-primary" type="submit" value="Novo interesse em venda" routerLink="/vendas/criar/seljogo"/>


  </span>
  <div class="panel-current-negotiation">
    <div *ngIf="status === 'troca'">
      <app-troca></app-troca>
    </div>
    <div *ngIf="status === 'venda'">
      <app-venda></app-venda>
    </div>
  </div>
</div>
