
.searchBar{
margin: 1%;
width: 70%;
}

.fundoDasColunas{
    background-color: antiquewhite;
    position: absolute;
    width: 90%;
    border: 3px solid #000000;

}

.infojogo {
    float:left;
    background: #FFFFFF;
    padding: 12px;
    margin: 1%;
    box-shadow: 0 0 200px rgba(white, .5), 0 1px 2px rgba(black, .3);

    @media (max-width: 600px) {
      width: 90%;
      height: 30%;
    }

    @media (min-width: 501px) and (max-width: 1000px) {
        width: 60%;
        height: 20%;
    }



    img{
    float:left;
height:20%;
}



}


ul{
float:left;
padding-left: 20px;
list-style-type:none;
}
