<app-navbar></app-navbar>

<form>


 <input class="searchBar"
 placeholder="Digite o nome do jogo, que automaticamente será pesquisado"
 #jogoNome
 (keyup)="search(jogoNome.value)"/>
 <div class="fundoDasColunas">
  <div *ngFor="let jogo of jogos" class='infojogo' routerLink="/jogos/{{jogo.id}}">

  	<img src= "assets/{{jogo.photo}}" alt='fotoJogo'>
  	<ul>
  	<li><h4>Nome: {{jogo.nome}}</h4></li>
    <li><h4>Plataforma: {{jogo.plataforma}}</h4></li>
    <li><h4>Votação: {{jogo.votacao}}</h4></li>
    <li><h4>Preço no varejo:R{{jogo.preco_varejo | currency}}</h4></li>
    <li><h4>Preço médio:R{{jogo.preco_medio | currency}}</h4></li>
  </ul>
  </div>
 </div>
</form>

